@model TarefasAcademicas.UI.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar";
}

<h2 class="margin-page">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Alterar configurações de sua conta</h4>
    <hr />
    <dl>
        <dd>
            @if (Model.HasPassword)
            {
	            <a href="@Url.Action("ChangePassword", "Manage")" role="button" class="btn btn-primary"><i class="fas fa-user-edit"></i> Alterar sua senha</a>
            }
            else
            {
                @Html.ActionLink("Criar", "SetPassword")
            }
        </dd>
        
    </dl>
</div>
